@model PontoEletronico.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<div align="center">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MensagemErro"]
        </div>
    }

    <div class="box-login">
        <div>
            <img src="~/Icons/logo.png" class="logo" />
            <form action="/Login/Login" method="post">
                <div class="form-group box">
                    <img src="~/Icons/user.png" class="icon" />
                    <input type="text" class="form-control" id="userID" name="userID" placeholder="Usuário" required>
                </div>
                <div class="form-group box">
                    <img src="~/Icons/key.png" class="icon" />
                    <input type="password" class="form-control" id="accessKey" name="accessKey" placeholder="Senha" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary button">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .logo {
        margin-bottom: 3em;
    }

    .box-login {
        margin-top: 10em;
        width: 20em;
    }

    .box-submit {
        display: flex;
        justify-content: left;
    }

    .button {
        background-color: #fccd2a;
        color: #1e5084;
    }

        .button:hover {
            border-color: #FFFF;
            background-color: #fccd2a;
            color: #1e5084;
        }

        .button:focus {
            border-color: #1e5084;
            background-color: #fccd2a;
            color: #1e5084;
        }

    .box {
        display: flex;
        align-items: center;
    }

    .icon {
        margin-right: 0.5em;
        height: 2em;
    }
</style>