@model PontoEletronico.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<form action="/Login/Login" method="post">
    <div class="form-group">
        <input type="text" class="form-control" id="userID" name="userID" placeholder="Usuário">
        @Html.ValidationMessageFor(x => x.userID)
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="accessKey" name="accessKey" placeholder="Senha">
        @Html.ValidationMessageFor(x => x.accessKey)
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>